<nav class="nav-menu">
    <div class="nav-container">
        <h1 class="nav-title">
            Welcome to Article Hub!
            <img src="images/article-icon.png" alt="Article Icon" class="nav-icon" />
        </h1>
    </div>
</nav>